backend/node_modules
backend/dist

db/node_modules
db/dist

api/node_modules
api/dist


engine/node_modules
engine/dist

websockets/node_modules
websockets/dist

ws/node_modules
ws/dist

rabbitmq/node_modules
rabbitmq/dist

frontend/node_modules
.DS_Store
*.log
*.env
*.env.local
*.env.development
*.env.test  